<!doctype html>
<html lang="en">
  <head> 
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
  </head>
  <body>
    <header class="test">
      <div>
        <a href='/'>Start</a>
        <a href='/auth/logout'>Logout</a>
        <a href='/behavior/summary'>Summary</a>
        <a href='/behavior/reporting'><span id='logout'></span>Report</a>
        <a href='/auth/login'>Login</a>
        <a href='/auth/registration'>Register</a>
      </div>
      
    </header>
    <div class="container">